.banner .swiper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding-left: 50px; */
}

.banner .swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 350px;
  height: 300px; */
  width: 80%; /* Example: 80% of the viewport width */
max-width: 350px; /* Optional: Set a maximum width for each slide */
height: 300px;
}

.banner .swiper-slide img {
  display: block;
  width: 100%;
}

  